{% extends 'base.html' %}

{% block title %}Evaluar Equipo{% endblock %}

{% block content %}
<h2>Registrar Evaluación Técnica</h2>

<div class="card mt-4">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}


            <div class="mb-3">
                <label for="estudiante" class="form-label">Nombre del Estudiante/Técnico</label>
                <input type="text" class="form-control" id="estudiante" name="estudiante" required>
            </div>
            {% if equipo %}
            <div class="mb-3">
                <label class="form-label">Problema Reportado por Cliente:</label>
                <p class="form-control-plaintext border p-2 rounded bg-light">{{ equipo.problema }}</p>
                </div>
                <input type="hidden" name="equipo_id" value="{{ equipo.id }}">
                {% endif %}

            <div class="mb-3">
                <label for="diagnostico" class="form-label">Diagnóstico Técnico</label>
                <textarea class="form-control" id="diagnostico" name="diagnostico" rows="3" required></textarea>
            </div>

            <div class="mb-3">
                <label for="solucion" class="form-label">Solución Aplicada</label>
                <textarea class="form-control" id="solucion" name="solucion" rows="3" required></textarea>
            </div>

            <div class="mb-3">
                <label for="tipo_solucion" class="form-label">Tipo de Solución</label>
                <select class="form-select" id="tipo_solucion" name="tipo_solucion" required>
                    <option value="Correctiva" selected>Correctiva</option>
                    <option value="Preventiva">Preventiva</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Guardar Diagnóstico</button>
        </form>

        {% if error %} 
            <div class="alert alert-danger mt-3" role="alert">
                {{ error }}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}